@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');
/* TAILWIND CSS LINKS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* SLICK CAROUSEL LINKS */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}

html:not([data-scroll="0"]) .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white !important;
  opacity: 1.9;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s linear;
  padding: 0px !important;
  /* height: 20px; */
  z-index: 3;
}

html:not([data-scroll="0"]) .navbar>div>div {
  height: 3rem;
}

html:not([data-scroll="0"]) .border-right {
  height: 4rem;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.navbar {
  border-bottom: 0.5px solid rgba(196, 196, 196, 0.75);
  ;
}

.hover-underline {
  display: inline-flex;
  position: relative;
  /* color: #ffffff; */
  justify-content: center;
  align-items: center;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform .25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.preline:before {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #000000;
  ;
  left: 4px;
  top: 72%;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .preline:before {
    display: none;
  }
}

.comma-pos {
  top: -40px;
  left: -121px;
}

.border-right {
  border-right: 1px solid rgba(196, 196, 196, 0.55);
  height: 117px;
  padding-right: 70px;
}

@media only screen and (max-width: 1150px) {
  .border-right {
    height: 0px;
    border-right: 0px solid rgba(196, 196, 196, 0.55);
  }
}

.pd76 {
  padding-right: 76px !important;
}

.navbutton {
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.navlinks {
  color: rgba(0, 0, 0, 0.75);
}

.bg-digital {
  background-image: url("/images/digital/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-build {
  background-image: url('/images/beliefs/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset;
}

.girldoodle {
  top: 12px;
  right: -115px;
}

.marginFeature {
  margin-top: -500px;
}

@media only screen and (max-width: 700px) {
  .marginFeature {
    margin-top: -341px;
  }
}

.pb-70 {
  padding-bottom: 18rem;
}

.bg-beliefs {
  background-image: url('/images/beliefs/swirls.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.position-linkedin {
  right: 60px;
  bottom: -57px;
}

.bg-wework {
  background-image: url('/images/wework/elipse.svg'), url('/images/wework/vector.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: center, top right;
}

.bg-featured {
  background-image: url('/images/wework/vector.svg');
  background-repeat: no-repeat;
  background-position: 100% 35%;
}

.feature-margin {
  margin-top: -480px;
}

@media only screen and (max-width: 768px) {
  .feature-margin {
    margin-top: -300px;
  }
}

.nextarrow {
  background-color: aqua;
}

.faq-bg {
  background-image: url('/images/faq/swirl.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-testimonial {
  background-image: url('/images/wework/elipse.svg'), url('/images/testimonial/boy.svg'), url('/images/testimonial/girl.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 55%, 84% 26%, 12% 18%;
}

@media only screen and (max-width: 1400px) {
  .bg-testimonial {
    background-position: 80%, top right, top left;
  }
}


.manageTabs {
  border: 1px solid #DBDBDB;
  box-shadow: 0px 4px 5px 1px rgba(193, 193, 193, 0.35);
  border-radius: 20px;
}

.test-pos {
  left: 42px;
  top: 44px;
}

.test-sha {
  box-shadow: 0px 5px 10px rgba(89, 104, 118, 0.05);
}

.star {
  filter: invert(79%) sepia(53%) saturate(1095%) hue-rotate(330deg) brightness(101%) contrast(96%);
}

.article-img {
  top: 225px;
  right: 30px;
}

.w-345 {
  width: 400px;
}

.bg-joinus {
  background-image: url('/images/joinus/horn.svg'), url('/images/joinus/paint.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 84% 109%, 12% 18%;
}

.footer-icons {
  box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-icons {
  transition: .5s;
}

.footer-icons:hover {
  transform: translateY(-8px);
}

.space-links {
  transition: .3s;
}

.space-links:hover {
  letter-spacing: 1px;
}

.dance-text {
  font-family: 'Dancing Script', cursive !important;
  transform: rotate(-10.06deg);
  text-align: center;
  margin-left: -340px;
}

@media only screen and (max-width: 466px) {
  .dance-text {
    margin-left: -265px;
  }
}

.toggleImage {
  position: absolute;
  right: 47rem;
  top: 2rem;
}

@media only screen and (max-width: 1250px) {
  .toggleImage {
    display: none;
  }
}

.joinButton {
  padding: 20px 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}




@media only screen and (max-width: 1023px) {
  .joinButton {
    padding: 20px 92px;
  }
}


/* SLICK  */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40% !important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  right: -70px !important;
}

.slick-prev {
  left: -60px !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 17px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
}


.imageContainer {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.imageContainer Image {
  width: 100%;
  vertical-align: top;
}

.imageContainer:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 20px;
}

.imageContainer:hover:after {
  opacity: 1;
}

.imageContainer:hover>a>button {
  display: block;
}

.manage>div:nth-child(2) {
  background-color: #00224A !important;
  color: #ffffff;
}

.manage>div:nth-child(2) button {
  color: #ffffff;
}

.manage>div:nth-child(2) h3 {
  color: #747474;
}


.continue-application {
  --color: #fff;
  --background: #404660;
  --background-hover: #3A4059;
  --background-left: #2B3044;
  --folder: #F3E9CB;
  --folder-inner: #BEB393;
  --paper: #FFFFFF;
  --paper-lines: #BBC1E1;
  --paper-behind: #E1E6F9;
  --pencil-cap: #fff;
  --pencil-top: #275EFE;
  --pencil-middle: #fff;
  --pencil-bottom: #5C86FF;
  --shadow: rgba(13, 15, 25, .2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.continue-application>div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.continue-application>div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.continue-application>div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application>div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application>div .folder:before,
.continue-application>div .folder:after,
.continue-application>div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application>div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application>div .folder:after,
.continue-application>div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application>div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application>div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application>div .folder .paper:before,
.continue-application>div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application>div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application>div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application>div .pencil:before,
.continue-application>div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application>div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application>div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before,
.continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  transition: transform 0.3s;
}

.continue-application:after {
  --r: 45deg;
}

.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: .15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: .15s;
  --pex: -24px;
}


.confirmBig {
  height: auto;
  padding: 1rem 1.5rem;
  background: #2563EB; /* Replace with the actual blue color you desire */
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  line-height: 1.1em;
  max-width: 20.4375rem;
}

.confirmBig:hover {
  background-color: #0090ff; /* Replace with the desired hover color */
}

.confirmBig:focus {
  box-shadow: 0 0 0 2px #003d60; /* Replace with the desired focus color */
}

.confirmBig[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.text-underline {
  background-image: url("/images/text-underline.svg"); /* Adjusted path */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-left: -0.1em;
  margin-right: -0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  position: relative;
  padding-bottom: 3px;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-full {
  grid-column: 1 / -1;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-end-7 {
  grid-column-end: 7;
}

.bottom-0 {
  bottom: 0px;
}